.main-box {
  background-color: white;
  height: 140px;
  width: 420px;
  margin: 30px;
  border: 5px solid black;
}
img {
  height: 80px;
  width: 80px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  float: left;
}
.rawr {
  float: right;
  margin-right: 200px;
  font-weight: bold;
}
.left-box {
  height: 40px;
  width: 40px;
  background-color: white;
  border: 2px solid black;
  left: 80px;
  bottom: -20px;
  position: relative;
  display:inline-block;
}
.right-box {
  height: 40px;
  width: 40px;
  background-color: white;
  border: 2px solid black;
  bottom: -20px;
  left: 100px;
  position:relative;
  display:inline-block;

}
.like {
  left: 80px;
  bottom: -20px;
  margin-left: 0px;
  margin-bottom: 0px;
  position: relative;
  display:inline-block;
}
.comment {
  bottom: -20px;
  left: 110px;
  margin-left: 0px;
  margin-bottom: 0px;
  position:relative;
  display:inline-block;
}
